In [2]:
# 1st July
# For loop
for i in "Vishwajeet":
    print(i,end=" ")

V i s h w a j e e t

In [3]:
for i in "Vishwajeet":  #string
    print(i)

V
i
s
h
w
a
j
e
e
t

In [4]:
for i in [12,23,34,44,55,66,77,8]:   #list
    print(i)

12
23
34
44
55
66
77
8

In [5]:
for i in (12,23,34,45,56,67):    #tuple
    print(i)

12
23
34
45
56
67

In [6]:
for i in {12,23,34,44}:   #set
    print(i)

34
12
44
23

In [7]:
for i in {"Name":"aviral","age":29}:  #dictionary
    print(i)

Name
age

In [10]:
#range()
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [11]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [12]:
for i in range(1,100,3):
    print(i,end=" ")

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

In [13]:
for i in range(100,0,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [14]:
# print your name 10 times
for i in range(10):
    print("Darina")

Darina
Darina
Darina
Darina
Darina
Darina
Darina
Darina
Darina
Darina

In [16]:
#print first 10 natural number
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [22]:
for i in range(1,11):
    print(i," ","Darina")

1   Darina
2   Darina
3   Darina
4   Darina
5   Darina
6   Darina
7   Darina
8   Darina
9   Darina
10   Darina

In [23]:
#print sum of first 10 natural no.
s=0
for i in range(1,11):
    s=s+i
print("the sum is ",s)

the sum is  55

In [28]:
#print only even number from 1-100
for i in range(2,102,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [26]:
for i in range(1,101):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [29]:
#table of a given number
n=int(input("enter the number"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter the number 23

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

In [32]:
#factorial of a given number
n=int(input("enter the number"))
f=1
for i in range(1,n+1):
    f=f*i
print("factorial is ",f)

#f=f*i
#f=1*1=1
#f=1*2=2

enter the number 5

factorial is  120