In [1]:
# Iterator loop (FOR)
# practice file 
a="hello world"
"r" in a

True

In [2]:
a=(1,2,3,4,56,7)
for i in a:
    if i%2==0:
        print(i)
    else:
        print("bye")

bye
2
bye
4
56
bye

In [3]:
s1='a'
for i in range(5):
    print(s1*i)

a
aa
aaa
aaaa

In [6]:
st="IIT Madaras"
for t in st:
    print(t,end="@") # \n new line \t for tabbed spaces

I@I@T@ @M@a@d@a@r@a@s@

In [8]:
a="hello everyone, how are you?"
vowel=["a","e","i","o","u"]
for i in a:
    if i in vowel:
        print(i)

e
o
e
e
o
e
o
a
e
o
u

In [13]:
word="hello1"
for w in word:
    if w=="l":
        print("good one")
else:
    print("data science")

good one
good one
data science

In [14]:
name="arpit"
for i in name:
    if i=="p":
        print("that's great")
    print(i)
    print("hello")
print(i)

a
hello
r
hello
that's great
p
hello
i
hello
t
hello
t

In [15]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i%2==0:
        print("even",i)
    print("good")

good
even 2
good
good
even 4
good
good
even 6
good
good
even 8
good
good

In [16]:
# even and odd number sum 
se=0
so=0
for i in range(1,100):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print("the sum of even number is",se)
print("the sum of odd number is",so)

the sum of even number is 2450
the sum of odd number is 2500

In [17]:
# print all palindrome number from 11-999
for i in range(11,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if rev==i:
        print(i,end=" ")

11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999