In [1]:
# List Method
# 1. append() --- it is used to insert an element in the list at the end
# syntax -- ls.append(element)

In [3]:
ls=[12,23,34,45,56,67]
print(ls)
ls.append(98)
print(ls)
ls.append(["hello","how","are","you?"])
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67, 98]
[12, 23, 34, 45, 56, 67, 98, ['hello', 'how', 'are', 'you?']]

In [4]:
# make the list of 10 integers of your choice
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)

enter the number 3
enter the number 5
enter the number 6
enter the number 7
enter the number 4
enter the number 3
enter the number 5
enter the number 8
enter the number 6
enter the number 9

[3, 5, 6, 7, 4, 3, 5, 8, 6, 9]

In [6]:
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
    print(ls)

enter the number 1

[1]

enter the number 34

[1, 34]

enter the number 56

[1, 34, 56]

enter the number 67

[1, 34, 56, 67]

enter the number 54

[1, 34, 56, 67, 54]

enter the number 67

[1, 34, 56, 67, 54, 67]

enter the number 78

[1, 34, 56, 67, 54, 67, 78]

enter the number 87

[1, 34, 56, 67, 54, 67, 78, 87]

enter the number 98

[1, 34, 56, 67, 54, 67, 78, 87, 98]

enter the number 65

[1, 34, 56, 67, 54, 67, 78, 87, 98, 65]

In [7]:
# sum of the list of 5 integers of your choice
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
print("the sum of list is ",sum(ls))  # sum() -- add elements of the list

enter the number 12
enter the number 23
enter the number 34
enter the number 45
enter the number 56

[12, 23, 34, 45, 56]
the sum of list is  170

In [8]:
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
s=0
for i in ls:
    s=s+i
print("the sum is ",s)

enter the number 12
enter the number 23
enter the number 34
enter the number 45
enter the number 56

[12, 23, 34, 45, 56]
the sum is  170

In [9]:
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
f=1
for i in ls:
    f=f*i
print("multiplication is ",f)

enter the number 2
enter the number 3
enter the number 4
enter the number 5
enter the number 6

[2, 3, 4, 5, 6]
multiplication is  720

In [11]:
# make the list of odd and even numbers seperately
ls=[]
ls_e=[]
ls_o=[]
for i in range(50):
    ls.append(i)
print("original list",ls)
for i in ls:
    if i%2==0:
        ls_e.append(i)
    else:
        ls_o.append(i)
print()
print("even list is ",ls_e)
print()
print("odd list is ",ls_o)

original list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

even list is  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

odd list is  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [12]:
# find the maximum & minimum element in the list
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
print("Max element is ",max(ls))
print("Min element is ",min(ls))

enter the number 12
enter the number 45
enter the number 54
enter the number 88
enter the number 76

[12, 45, 54, 88, 76]
Max element is  88
Min element is  12

In [14]:
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
large=ls[0]
for i in ls:
    if i>large:
        large=i
print("maximum is ",large)

enter the number 12
enter the number 23
enter the number 45
enter the number 98
enter the number 76

[12, 23, 45, 98, 76]
maximum is  98

In [17]:
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
sm=ls[0]
for i in ls:
    if i<sm:
        sm=i
print("minimum is ",sm)

enter the number 23
enter the number 45
enter the number 11
enter the number 56
enter the number 67

[23, 45, 11, 56, 67]
minimum is  11

In [18]:
# extend() --- it is used to insert more than one element in the list at the end 
# syntax --- ls.extend(iter)

In [19]:
ls=[12,23,34,45,56,67]
print(ls)
ls.extend([98,76,75])
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67, 98, 76, 75]

In [20]:
# concatenate
A=[1,3,5,7,9]
B=[2,4,6,8,10]
c=A+B
print(c)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [21]:
A=[1,3,5,7,9]
B=[2,4,6,8,10]
A.extend(B)
print(A)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [25]:
A=[1,3,5,7,9]
B=[2,4,6,8,10]
C=[7,9]
A.extend([*B,*C])
print(A)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 7, 9]

In [1]:
# 8th July 
# insert() --- it is used to insert one element at a time in the list but at desired index
ls=[12,23,34,45,56,67,78]
print(ls)
ls.insert(3,"Darina")
print(ls)

[12, 23, 34, 45, 56, 67, 78]
[12, 23, 34, 'Darina', 45, 56, 67, 78]

In [2]:
# count() --- it returns the frequency of the element in the list
ls=[12,23,34,45,56,1,2,23,34,45]
print(ls)
x=ls.count(23)
print(x)

[12, 23, 34, 45, 56, 1, 2, 23, 34, 45]
2

In [3]:
ls=[12,23,34,45,56,1,2,23,34,45]
print(ls)
for i in ls:
    x=ls.count(i)
    print(i,"=",x)

[12, 23, 34, 45, 56, 1, 2, 23, 34, 45]
12 = 1
23 = 2
34 = 2
45 = 2
56 = 1
1 = 1
2 = 1
23 = 2
34 = 2
45 = 2

In [4]:
new=[]
ls=[23,34,45,56,66,78,99,23,45,67,99]
for i in ls:
    if i not in new:
        new.append(i)
print("original list",ls)
print("Unique list",new)

original list [23, 34, 45, 56, 66, 78, 99, 23, 45, 67, 99]
Unique list [23, 34, 45, 56, 66, 78, 99, 67]

In [5]:
# reverse() --- it is used to print list in reverse order
ls=[12,34,54,56,21,45,87,45]
print(ls)
ls.reverse()
print(ls)

[12, 34, 54, 56, 21, 45, 87, 45]
[45, 87, 45, 21, 56, 54, 34, 12]

In [6]:
# sort() --- it is used to arrange elements in ascending and descending order by default always ascending

In [7]:
ls=[12,23,21,3,45,43,65,56,87,45]
print(ls)
ls.sort()
print(ls)
ls.sort(reverse=True)
print(ls)

[12, 23, 21, 3, 45, 43, 65, 56, 87, 45]
[3, 12, 21, 23, 43, 45, 45, 56, 65, 87]
[87, 65, 56, 45, 45, 43, 23, 21, 12, 3]

In [8]:
# index() --- it return the index of first occurrence of element
ls=[12,23,34,45,56,67,23]
print(ls)
x=ls.index(23)
print(x)

[12, 23, 34, 45, 56, 67, 23]
1

In [9]:
# copy() --- if we copy a list into another by using "=" then if we change any element in the list then it will reflect in another one

In [10]:
ls=[12,23,34,45,56,67]
ls1=ls
print(ls)
print(ls1)
ls1[3]="hello"
print(ls)
print(ls1)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'hello', 56, 67]
[12, 23, 34, 'hello', 56, 67]

In [11]:
# if we copy a list by using .copy() then change will not reflect in another one
ls=[12,23,34,45,56,67]
ls1=ls.copy()
print(ls)
print(ls1)
ls1[3]="hello"
print(ls)
print(ls1)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'hello', 56, 67]

In [12]:
# clear() --- it return empty list
ls=[1,2,3,4,5,6,67]
print(ls)
ls.clear()
print(ls)

[1, 2, 3, 4, 5, 6, 67]
[]

In [13]:
# questions
L=["Amit","Sumit","Naina"]
print(L[1:-1])

['Sumit']

In [14]:
L=["Darina"]
print(L*2) # repeats two times

['Darina', 'Darina']

In [15]:
L=["Amit","Sumit","Naina"]
print(L*2)

['Amit', 'Sumit', 'Naina', 'Amit', 'Sumit', 'Naina']

In [16]:
L=["Amit","Sumit","Naina"]
print(L**2) # error since power works for numbers

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [17]:
L=[0.5* x for x in range(4)]
print(L)

[0.0, 0.5, 1.0, 1.5]

In [19]:
L=['a'* x for x in range(4)]
print(L)

['', 'a', 'aa', 'aaa']

In [20]:
L=[1* x for x in range(10,1,-4)]
print(L)

[10, 6, 2]

In [21]:
T=[1,2,3,4]
T1=T
T[0]="A"
print(T)
print(T1)

['A', 2, 3, 4]
['A', 2, 3, 4]