Python - Dictionary
---------------------The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known.The following declares a dictionary object.

In [1]:
capitals={'USA':'Washim=ngton D.C.', 'France':'Paris', 'India':'New Delhi'}
print(type(capitals))

<class 'dict'>

In [3]:
d={} # empty dictionary

In [4]:
numNames={1:'One',2:'Two',3:'Three'} # int key, string value

In [5]:
decNames= {1.5:'one nad half',2.5:'two and half',3.5:'three and half'} # float key, str value

In [6]:
items={('Parker','Reynolds','Camlin'):'pen',('LG','Whirpool','Samsung'):'refrigerator'} # tuple key, str value

In [7]:
romanNums={'I':1,'II':2,'III':3} # str key, int value

In [8]:
# The same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. The value can be of any data type. One value can be assigned to more than one key.

In [10]:
numNames={1:'One',2:'Two',3:'three',1:'one',2:'two'}
print(numNames)

{1: 'one', 2: 'two', 3: 'three'}

In [1]:
# A dictionary can also be created using the dict() constructor
# syntax---dict()

In [2]:
emptydict=dict()
print(emptydict)

{}

In [6]:
numdict=dict(I="one",II="two",III="three")
print(numdict) # assignment operator method

{'I': 'one', 'II': 'two', 'III': 'three'}

In [5]:
numdict=dict((('I','one'),('II','two'),('III','three')))
print(numdict)   # tuple method

{'I': 'one', 'II': 'two', 'III': 'three'}

Access Dictionary
-----------------------
Dictionary is an unordered collection, so a value cannot be acccessed using index;
instead, a key must be specified in the square brackets.

In [7]:
numNames={1:"One",2:"Two",3:"Three"}
print(numNames[1],numNames[2],numNames[3])

One Two Three

In [8]:
capitals={'USA':'Washim=ngton D.C.', 'France':'Paris', 'India':'New Delhi'}
print(capitals["USA"],capitals["France"])

Washim=ngton D.C. Paris

In [9]:
# following throws an KeyError
#print(capitals["usa"]) , print(capitals["Japan"]) (since it is not available)

In [12]:
# Another way ---- print(d1.get()) (these method returns none rather than error if not valid)
d1={1:1,2:4,3:9,4:16,5:25}
print(d1.get(6),d1.get(5))
print(d1.get(7))

None 25
None

In [16]:
# dictionary through for loop
d1={'a':123,'b':345,'c':567,'d':789}
print(d1)
for i in d1: # by default always key
    print(i,end=" ")
print()
for i in d1.values(): # only values
    print(i,end=" ")
print()
for i,j in d1.items(): # key value pair
    print((i,j),end=" ")

{'a': 123, 'b': 345, 'c': 567, 'd': 789}
a b c d
123 345 567 789
('a', 123) ('b', 345) ('c', 567) ('d', 789)

Update Dictionary
------------------
As mentioned earlier, the key cannot appear more than once. Use the same key and assign
a new value to it to update the dictionary object.

In [17]:
# same key then update
# different key then add
d1={'a':123,'b':345,'c':567,'d':789}
d1['c']="Daksh"
print(d1)
d1['e']="Aviral"
print(d1)

{'a': 123, 'b': 345, 'c': 'Daksh', 'd': 789}
{'a': 123, 'b': 345, 'c': 'Daksh', 'd': 789, 'e': 'Aviral'}

Deleting values from a Dictionary
----------------------------------
Use the del keyword, pop(), or popitem() methods to delete a pair from a dictionary or the dictionary object itself. To delete a pair, use its key as a parameter. To delete a dictionary object itself, use del dictionary name.

In [18]:
d1={'a':123,'b':345,'c':567,'d':789}
del d1['b']
print(d1)

{'a': 123, 'c': 567, 'd': 789}

In [20]:
d1={'a':123,'b':345,'c':567,'d':789}
print(d1.pop('b'))
print(d1)

345
{'a': 123, 'c': 567, 'd': 789}

In [21]:
d1={'a':123,'b':345,'c':567,'d':789}
d1.popitem()
print(d1)
d1.popitem()
print(d1)

{'a': 123, 'b': 345, 'c': 567}
{'a': 123, 'b': 345}

In [22]:
d1={'a':123,'b':345,'c':567,'d':789}
del d1 # delete complete dictionary
print(d1) # error

NameError: name 'd1' is not defined

In [23]:
# nested dict
mydict={1:'one',2:'two','A':{'Name':'Asif','age':20},'B':('bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Asif', 'age': 20},
 'B': ('bat', 'cat', 'hat')}

Multi-Dimensional Dictionary
-----------------------------

In [1]:
d1={'name':'Steve','age':25,'marks':60}
d2={'name':'Anil','age':23,'marks':75}
d3={'name':'Asha','age':20,'marks':70}

In [2]:
students={1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [3]:
print(students[1])
print(students[2])
print(students[3])

{'name': 'Steve', 'age': 25, 'marks': 60}
{'name': 'Anil', 'age': 23, 'marks': 75}
{'name': 'Asha', 'age': 20, 'marks': 70}

Dictionary Method
------------------

In [4]:
# Dictionary clear() --- 
#syntax: dict.clear()

In [5]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
print("Dictionary:",romanNums)

Dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [6]:
romanNums.clear()
print("Dictionary after calling clear() method:",romanNums)

Dictionary after calling clear() method: {}

In [7]:
# Dictionary copy() --- The dict.copy() method returns a shallow copy of the dictionary.

#The dictionary can also be copied using the = operator, which points to the same object as the original. So if any change is made in the copied dictionary will also reflect in the original dictionary.
# syntax: dict.copy()

In [8]:
d1={'a':123,'b':456,'c':678,'d':789}
d2=d1
print(d1)
print(d2)
d2.clear()
print(d1)
print(d2)

{'a': 123, 'b': 456, 'c': 678, 'd': 789}
{'a': 123, 'b': 456, 'c': 678, 'd': 789}
{}
{}

In [9]:
d1={'a':123,'b':456,'c':678,'d':789}
d2=d1.copy()
print(d1)
print(d2)
d2.clear()
print(d1)
print(d2)

{'a': 123, 'b': 456, 'c': 678, 'd': 789}
{'a': 123, 'b': 456, 'c': 678, 'd': 789}
{'a': 123, 'b': 456, 'c': 678, 'd': 789}
{}

In [10]:
# Dictionary fromkeys() --- it creates a new dictionary from the given iterable (string,list,set,tuple) as keys and with the specified value.
# syntax: dict.fromkeys(sequence,value)

In [11]:
keys={'Mumbai','Bangalore','Chicago','New York'}
value='city'
dict=dict.fromkeys(keys,value)
print(dict)

{'Mumbai': 'city', 'Chicago': 'city', 'New York': 'city', 'Bangalore': 'city'}

In [12]:
keys={'Mumbai','Bangalore','Chicago','New York'}
dict=dict.fromkeys(keys)
print(dict)

{'Mumbai': None, 'Chicago': None, 'New York': None, 'Bangalore': None}

In [13]:
# Dictionary items()
#The dict.items() returns a dictionary view object that provides a dynamic view of dictionary elements as a list of key-value pairs. This view object changes when the dictionary changes.

# Syntax: dict.items()

In [14]:
romanNums={'I':1,'II':2,'III':3,'IV':4}
dictview=romanNums.items()
print(dictview)

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4)])

In [15]:
# Dictionary keys()
# The dict.keys() method returns a dictionary view object that contains the list of keys of the dictionary.

In [16]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
keys=romanNums.keys()
print(keys)

dict_keys(['I', 'II', 'III', 'IV', 'V'])

In [17]:
# Dictionary update() Method
#The dict.update() method updates the dictionary with the key-value pairs from another dictionary or another iterable such as tuple having key-value pairs.

#Syntax: dict.update(iterable)

In [18]:
x={'I':1,'III':3,'V':5}
print("Dictionary:",x)
y={'II':2,'IV':4}
x.update(y)
print("Updated Dictionary: ",x)

Dictionary: {'I': 1, 'III': 3, 'V': 5}
Updated Dictionary:  {'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}

In [19]:
# Dictionary values()
# The dict.values() method returns the dictionary view object that provides a dynamic view of all the values in the dictionary. This view object changes when the dictionary changes.

#Syntax: dict.values()

In [20]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
values=romanNums.values()
print(values)

dict_values([1, 2, 3, 4, 5])

In [21]:
# examples

In [22]:
keys={'a','b','c','d'}
mydict=dict.fromkeys(keys)
mydict

{'c': None, 'd': None, 'a': None, 'b': None}

In [23]:
keys={'a','b','c','d'}
value=10
mydict1=dict.fromkeys(keys,value)
mydict1

{'c': 10, 'd': 10, 'a': 10, 'b': 10}

In [24]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict2=dict.fromkeys(keys,value)
mydict2

{'c': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [25]:
value.append(40)
mydict2

{'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}