Function 
---------
A short snippet of code.
There are following types of function available:
1. Default
2. Argument
3. Return type
4. Placeholder

Default Function
-----------------

In [2]:
# syntax --- def function_name(): # function definition
#                     logic/statement
#function_name() # calling

In [3]:
def addition():
    a=int(input("enter the number: "))
    b=int(input("enter the number: "))
    c=a+b
    print("the sum is: ",c)

In [4]:
addition()

enter the number:  12
enter the number:  34

the sum is:  46

In [5]:
addition()

enter the number:  45
enter the number:  67

the sum is:  112

In [6]:
def simple_interest():
    p=int(input("enter the value of the principle"))
    r=int(input("enter the value of rate"))
    t=int(input("enter the value of time"))
    si=p*r*t/100
    print("the interest is",si)

In [7]:
simple_interest()

enter the value of the principle 20000
enter the value of rate 3
enter the value of time 5

the interest is 3000.0

In [8]:
simple_interest()

enter the value of the principle 87000
enter the value of rate 2
enter the value of time 3

the interest is 5220.0

In [10]:
def avg():
    a=int(input("enter the number: "))
    b=int(input("enter the number: "))
    c=int(input("enter the number: "))
    d=(a+b+c)/3
    print("The average is: ",d)

In [11]:
avg()

enter the number:  5
enter the number:  6
enter the number:  7

The average is:  6.0

In [12]:
avg()

enter the number:  78
enter the number:  67
enter the number:  90

The average is:  78.33333333333333

In [16]:
def check():
    n=int(input("enter the number"))
    if n%2==0:
        print("even number")
    else:
        print("odd number")

In [14]:
check()

enter the number 24

even number

In [15]:
check()

enter the number 13

odd number

In [17]:
def check_leap():
    year=int(input("enter the year"))
    if year%4==0:
        print("Leap year")
    else:
        print("Not a leap year")

In [18]:
check_leap()

enter the year 2089

Not a leap year

In [19]:
check_leap()

enter the year 2028

Leap year

In [22]:
def eligible():
    age=int(input("enter your age"))
    if age>=18:
        print("Eligible to vote")
    else:
        print("Non-eligible")

In [23]:
eligible()

enter your age 45

Eligible to vote

In [24]:
eligible()

enter your age 12

Non-eligible

In [25]:
def largest():
    a=int(input("enter the number: "))
    b=int(input("enter the number: "))
    c=int(input("enter the number: "))
    if a>b and a>c:
        print(a," is greatest")
    elif b>a and b>c:
        print(b," is greatest")
    else:
        print(c," is greatest")

In [26]:
largest()

enter the number:  23
enter the number:  54
enter the number:  33

54  is greatest

In [27]:
largest()

enter the number:  234
enter the number:  45
enter the number:  555

555  is greatest

In [28]:
def factorial():
    n=int(input("enter the number"))
    f=1
    for i in range(1,n+1):
        f=f*i
    print("factorial is ",f)

In [29]:
factorial()

enter the number 56

factorial is  710998587804863451854045647463724949736497978881168458687447040000000000000

In [31]:
factorial()

enter the number 6

factorial is  720

In [32]:
def reverse():
    n=int(input("enter the number: "))
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("The reverse is ",rev)

In [33]:
reverse()

enter the number:  234

The reverse is  432

In [34]:
def prime():
    co=0
    n=int(input("enter the number"))
    for i in range(1,n+1):
        if n%i==0:
            co=co+1
    if co==2:
        print("Prime Number")
    else:
        print("Not a prime number")

In [35]:
prime()

enter the number 67

Prime Number

In [36]:
prime()

enter the number 12

Not a prime number

Parameter vs Argument
-----------------------
eg: def sum(a,b) ---- a ,b are parameters
 
 sum(12,34) ---- 12, 34 are argument

i.e Parameter is the variable listed inside the parentheses in the function definition.

 Argument is the value that is sent to the function when it is called.

Three types of functions in Python:
------------------------------------
* Built-in function:- Python predefined functions that are readily available for use like min(), max(), sum(), print() etc.
* User-Defined function:- Functions that we define ourselves to perform a specific task.
* Anonymous function:- Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.

Argument Function
------------------
syntax: def function_name(arg1,arg2..):    
             
             logic/statement

function_name(arg)

In [1]:
def addition(a,b):
    c=a+b
    print("the sum is ",c)

In [2]:
addition(12,23)

the sum is  35

In [3]:
x=int(input('enter the number'))
y=int(input('enter the number'))
addition(x,y)

enter the number 123
enter the number 456

the sum is  579

In [4]:
addition(123,456) # shorter n easier way

the sum is  579

In [5]:
def check(n):
    if n%2==0:
        print('even number')
    else:
        print('odd number')

In [6]:
check(23)

odd number

In [7]:
check(3456568)

even number

In [11]:
def largest(a,b,c):
    if a>b:
        if a>c:
            print('A is greatest')
        else:
            print('C is greatest')
    else:
        if b>c:
            print('B is greatest')
        else:
            print('C is greatest ')

In [9]:
largest(34,54,66)

C is greatest

In [12]:
largest(345,678,45)

B is greatest

In [13]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print('the factorial is ',f)

In [14]:
factorial(7)

the factorial is  5040

In [16]:
factorial(5)

the factorial is  120

In [17]:
def reverse(n):
    rev=0
    while n>0:
        rev=rev*10+n%10
        n=n//10
    print('the reverse is ',rev)

In [18]:
reverse(4567)

the reverse is  7654

In [19]:
reverse(565765)

the reverse is  567565

In [23]:
def prime(n):
    co=0
    for i in range(1,n+1):
        if n%i==0:
            co=co+1
    if co==2:
        print('Prime number')
    else:
        print('Non-prime number')

In [24]:
prime(43)

Prime number

In [25]:
prime(2)

Prime number

In [26]:
prime(24)

Non-prime number

Return type function
---------------------
syntax: def function_name(arg1,arg2,..):

           logic
           return value/values

var=function_name(arg1,arg2,..) /n
print(var)

or print(function_name(arg1,arg2,..))

In [27]:
def addition(a,b):
    return a+b

In [29]:
c=addition(45,67)
print(c)

112

In [31]:
print('the sum is ',addition(45,67))

the sum is  112

In [32]:
def mathop(a,b):
    return a+b,a-b,a*b,a/b,a%b
# res=34,56,43,66 --- assigning multiple values is called tuple packing

In [33]:
res=mathop(34,12)
print(res)
print(type(res))

(46, 22, 408, 2.8333333333333335, 10)
<class 'tuple'>

In [34]:
x,y,z,w,r=mathop(34,12)
print('add',x)
print('sub',y)
print('prod',z)
print('div',w)
print('mod',r)

add 46
sub 22
prod 408
div 2.8333333333333335
mod 10

In [36]:
def check(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'
print(check(57))

odd

In [37]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
fac=factorial(5)
print('the factorial is ',fac)

the factorial is  120

In [39]:
fac # the value is stored which is possible due the 'return'

120

PlaceHolder argument
---------------------

In [41]:
def sums(a,b=400,c=600):  # initialisation starts from RHS
    return a+b+c
print(sums(100))  # b=400,c=600
print(sums(200,500)) # b=500
print(sums(12,23,34)) # a,b,c changes to 12,23,34

1100
1300
69

In [42]:
# practice

In [43]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)

In [44]:
datascience(2,4,6,7,5)

(6, 8)

In [45]:
def hello(a,b):
    return('My name is {} and gender is {}'.format(a,b))

In [48]:
a=hello('Darina','female')
a

'My name is Darina and gender is female'

In [49]:
def addition(a,b=100):
    return a+b

In [50]:
addition(1000)

1100

In [51]:
def add(a,b=700,c=600):
    return a+b+c
print(add(300))
print(add(a=400,c=500))
print(add(100,2000,3000))

1600
1600
5100

In [52]:
add(100)

1400

In [53]:
def hello(name,age=22,gender='female'):
    return ('My name is {} and age is {} and gender is {}'.format(name,age,gender))

In [54]:
hello('Darina')

'My name is Darina and age is 22 and gender is female'

Format of args,kwargs
----------------------
1. Unpacking operators are operators that unpack the values from iterable objects in Python.
2. The single asterisk operator * can be used on any iterable that Python provides.
3. While the double asterisk operator ** can only be used on dictionaries.

In [1]:
u=[1,2,3]
u

[1, 2, 3]

In [2]:
print(*u)

1 2 3

In [3]:
a,*b,c=[1,2,3,2,3,4,5,6,78,63,4]

In [4]:
a

1

In [5]:
c

4

In [7]:
print(*b)

2 3 2 3 4 5 6 78 63

In [8]:
*a,b,c=[1,2,3,2,3,4,5,6,78,63,4]

In [9]:
print(*a)

1 2 3 2 3 4 5 6 78

In [10]:
b

63

In [11]:
c

4

In [12]:
a,b,*c=[1,2,3,2,3,4,5,6,78,63,4]

In [13]:
print(*c)

3 2 3 4 5 6 78 63 4

In [14]:
a

1

In [15]:
b

2

In [20]:
# list concatenate (three ways)
A=[1,2,3]
B=[4,5,6]
C=[A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [17]:
D=[*A,*B]
D

[1, 2, 3, 4, 5, 6]

In [19]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [21]:
a=[*"realpython"]
print(a)
# b=list("realpython")
# print(b) ----- same output as above

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [22]:
d1={'A':1,'B':2}
d2={'C':3,'D':4,'F':7}

In [24]:
d1.update(d2)
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 7}

In [26]:
# dict concatenate (alternate way using **)
d1={'A':1,'B':2}
d2={'C':3,'D':4,'F':7}
d3={**d1,**d2}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 7}

In [28]:
d1={'A':1,'B':2}
d2={'C':3,'D':4,'F':7}
d3={*d1,*d2}
d3 # only keys

{'A', 'B', 'C', 'D', 'F'}

In [29]:
# uses

In [30]:
def my_sum(a,b,c,d,e):
    return(a+b+c+d+e)

In [31]:
mylist=[1,2,3,4,5]

In [32]:
my_sum(*mylist)

15

In [35]:
list1=[23,45,67,44,12]

In [36]:
my_sum(*list1)

191

In [37]:
def my_sum(*a):
    result=0
    for i in a:
        result=result+i
    return result

In [38]:
list1=[1,2,3]
list2=[4,5]
list3=[6,7,8,9]
my_sum(*list1,*list2,*list3)

45

In [39]:
def my_sum(a):
    result=0
    for i in a:
        result=result+i
    return result

In [40]:
list1=[1,2,3]
list2=[4,5]
list3=[6,7,8,9]
my_sum(*list1,*list2,*list3)

TypeError: my_sum() takes 1 positional argument but 9 were given

ZIP Function
-------------

In [43]:
a=['John','Jenny','Jesh']
b=['Ashwin','Peter']

In [44]:
list(zip(a,b))

[('John', 'Ashwin'), ('Jenny', 'Peter')]

In [45]:
list(zip(b,a))

[('Ashwin', 'John'), ('Peter', 'Jenny')]

In [46]:
a='bushan'
b='hassanfhfuhdn'
list(zip(a,b))

[('b', 'h'), ('u', 'a'), ('s', 's'), ('h', 's'), ('a', 'a'), ('n', 'n')]

In [47]:
number_list=[1,2,3,3]
str_list=['one','two','three','three']
result=list(zip(number_list,str_list))
print(result)

[(1, 'one'), (2, 'two'), (3, 'three'), (3, 'three')]

In [48]:
set(result)

{(1, 'one'), (2, 'two'), (3, 'three')}

In [50]:
number_list=[1,2,3,]
str_list=['one','two']
numbers_tuple=('ONE','TWO','THREE','FOUR')

result=zip(number_list,numbers_tuple)
print(list(result))

result1=zip(number_list,str_list,numbers_tuple)
print(list(result1))

[(1, 'ONE'), (2, 'TWO'), (3, 'THREE')]
[(1, 'one', 'ONE'), (2, 'two', 'TWO')]

In [61]:
coordinate=['x','y','z']
value=[3,4,5]
result=zip(coordinate,value)
result_list=list(result)
print(result_list)

c,v=zip(*result_list)

[('x', 3), ('y', 4), ('z', 5)]

In [62]:
c

('x', 'y', 'z')

In [63]:
v

(3, 4, 5)

Enumerate
-----------

In [55]:
s1='Python'
b=list(enumerate(s1))
print(b)

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [52]:
l1=['DL','ML','NLP']
ls=list(enumerate(l1,5))
print(ls)

[(5, 'DL'), (6, 'ML'), (7, 'NLP')]

In [56]:
list(b)

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [57]:
b=enumerate(s1)
list(a)
list(b)
list(enumerate(l1,100))

[(100, 'DL'), (101, 'ML'), (102, 'NLP')]

In [58]:
l1=['DL','ML','NLP']

In [59]:
for i,j in enumerate(l1):
    if i<2:
        print(j,i)

DL 0
ML 1