Python - Set
-------------A set is a mutable collection of distinct hashable objects, same as the list and tuple. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.A set object contains one or more items, not necessarily of the same type, which are separated by a comma and enclosed in curly brackets {}. The following defines a set object with even numbers.

In [1]:
even_nums={2,4,6,8,10} #set of even numbers
print(even_nums)
emp={1,'Steve',10.5,True} #set of different objects
print(emp)

{2, 4, 6, 8, 10}
{1, 'Steve', 10.5}

A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object. Hence, indexing and slicing operations cannot be done on a set object.

In [3]:
nums={1,2,2,3,4,4,5,5}
print(nums) # duplicate elements are removed

{1, 2, 3, 4, 5}

In [5]:
nums1={'age','age',22,22,True,1,0,False} # 0-False and 1-True
print(nums1)

{0, 'age', 22, True}

The order of elements in the set is not necessarily the same as the order given at the time of assignment. Python optimizes the structure of a set for performing operations over it, as defined in mathematics.

In [6]:
myset={(10,10),10,20}
print(myset)

{(10, 10), 10, 20}

In [7]:
myset={[10,10],10,20} #TypeError can't add a list
print(myset)

TypeError: unhashable type: 'list'

In [8]:
myset={{10,10},10,20} #typeerror can't add a set
print(myset)

TypeError: unhashable type: 'set'

In [9]:
emp={} # creates an empty dictionary
print(type(emp))

<class 'dict'>

In [10]:
s=set() # creates an empty set
print(type(s))

<class 'set'>

The set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.

In [11]:
# sequence to set
s=set('Hello')
print(s)

{'e', 'o', 'H', 'l'}

In [12]:
# tuple to set
s=set((1,2,3,4,5))
print(s)

{1, 2, 3, 4, 5}

In [13]:
# dictionary to set
d={1:'One',2:'Two'}
s=set(d)
print(s)

{1, 2}

Modify Set Elements
--------------------Use built-in set functions add(), remove() or update() methods to modify set collection.

In [14]:
s=set() # create an empty set
s.add(10) # add an element
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [15]:
primeNums={2,3,5,7}
s.update(primeNums) # update set with another set
print(s)

{2, 3, 20, 5, 7, 10, 30}

In [16]:
s.remove(2) # remove an element
print(s)

{3, 20, 5, 7, 10, 30}

Python Set clear() Method
--------------------------The set.clear() method removes all the elements from the set.
Syntax: set.clear()

In [17]:
langs={'Python','C++','C','Go'}
langs.clear()
print("Set after the clear() method is called: ",langs)

Set after the clear() method is called:  set()

Python Set copy() Method
--------------------------
The set.copy() method returns a shallow copy of the set.
Syntax : set.copy()

In [18]:
langs={'Python','C++','C','Java'}
copiedlangs=langs.copy()
print('Original set: ',langs)
print('Copied set: ',copiedlangs)

Original set:  {'Python', 'Java', 'C', 'C++'}
Copied set:  {'Python', 'Java', 'C', 'C++'}

In [21]:
# Difference
A={1,2,3,4,5,6,7,8}
B={4,5,6,7,8,9,10}
print("A-B : ",A-B)
print("B-A : ",B-A)

A-B :  {1, 2, 3}
B-A :  {9, 10}

Python Set difference() Method
--------------------------------The set.difference() method returns the new set with the unique elements that are not in the other set passed as a parameter.Syntax:set.difference(*other_set)

In [22]:
a={1,2,2,3,4,5}
b={4,5,6,7,8,8}
num1=a.difference(b)
num2=b.difference(a)
print('a-b: ',num1)
print('b-a: ',num2)

a-b:  {1, 2, 3}
b-a:  {8, 6, 7}

Python Set intersection() Method
---------------------------------The set.intersection() method returns a new set with the elements that are common in the given sets.Syntax:set.intersection(*other_sets)

In [23]:
x={1,2,3,4,5}
y={1,3,5,7,9}
z=x.intersection(y)
print("Common elements in x and y are: ",z)

Common elements in x and y are:  {1, 3, 5}

In [24]:
x={1,2,3,4,5}
y={1,3,5,6,7,9}
z={2,3,5,7}
w=x.intersection(y,z)
print('Common elements: ',w)

Common elements:  {3, 5}

Python Set union() Method
---------------------------The set.union() method returns a new set with distinct elements from all the given sets.Syntax:A.union(*other_sets)

In [25]:
num1={1,2,2,3,4,5}
num2={4,5,6,7,7,8}
distinct_nums=num1.union(num2)
print('The union of two sets is: ',distinct_nums)

The union of two sets is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
# Difference between remove and discard
myset={'eight','five','four','one','seven','six','three','two'}

In [27]:
myset.remove('NINE') # it shows error when element is non-existing 
myset

KeyError: 'NINE'

In [28]:
myset.discard('NINE') # it ignores if element doesnot exist
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [30]:
a|b # union (another way)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
a&b # intersection (another way)

{4, 5}

In [1]:
# Symmetric Difference
A={1,2,3,4,5}
B={4,5,6,7,8}
A^B

{1, 2, 3, 6, 7, 8}

In [2]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [3]:
# Subset,Superset,Disjoint set
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30,40}

In [4]:
B.issubset(A) # set B is said to be subset of A

True

In [5]:
A.issuperset(B) # Set A is said to be superset of B

True

In [6]:
C.isdisjoint(A) # no common elements present

True

In [7]:
B.isdisjoint(A)

False

In [8]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
sum(A)

45

In [10]:
max(A)

9

In [11]:
min(A)

1

In [12]:
len(A)

9