Tuples
-------
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [39]:
# Tuple Creation
tup1=() # empty tuple
print(tup1)

()

In [40]:
tup2=(10,30,60) # integer no tuple
print(tup2)

(10, 30, 60)

In [41]:
tup3=('one','two','three') # tuple of strings
print(tup3)

('one', 'two', 'three')

In [42]:
tup4=('one',25,(3,4)) # nested tuple 
print(tup4)

('one', 25, (3, 4))

In [43]:
tup5=('one',25,(3,4),[50,100],{'john','david'}) # tuple of mixed data type
print(tup5)

('one', 25, (3, 4), [50, 100], {'john', 'david'})

In [6]:
len(tup5)

5

In [7]:
# Tuple Indexing (same as of list)
tup2[0]

10

In [8]:
tup4[0]

'one'

In [9]:
tup4[0][0]

'o'

In [10]:
tup3[-1]

'three'

In [11]:
# Tuple Slicing
mytuple=('one','two','three','four','five','six','seven','eight')

In [12]:
mytuple[0:3]

('one', 'two', 'three')

In [13]:
mytuple[2:5]

('three', 'four', 'five')

In [14]:
mytuple[:4]

('one', 'two', 'three', 'four')

In [15]:
mytuple[:2]

('one', 'two')

In [16]:
mytuple[-3:]

('six', 'seven', 'eight')

In [17]:
mytuple[-2:]

('seven', 'eight')

In [18]:
mytuple[-1]

'eight'

In [19]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [20]:
# Remove and Change Items
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [21]:
del mytuple[0] # tuples are immutable which means we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [22]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [23]:
del mytuple # deletes the entire tuple

In [24]:
# Count --- number of occurrences
mytuple1=('one','two','three','four','one','one','two','three')

In [25]:
mytuple1.count('one')

3

In [26]:
mytuple1.count('two')

2

In [27]:
mytuple1.count('four')

1

In [28]:
# Index function
mytuple1.index('one')

0

In [29]:
mytuple1.index('four')

3

In [30]:
# Sorting
mytuple2=(43,67,99,12,6,90,67)

In [31]:
sorted(mytuple2) # returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [32]:
mytuple2 # tuple didnot change

(43, 67, 99, 12, 6, 90, 67)

In [33]:
# Can we change the element of the tuple --- NO
# but there is one alternate of this --- tuple to list to tuple
t1=(12,23,34,45,56,67,78)
x=list(t1)
x[2]='Abhishek'
t1=tuple(x)
print(t1)

(12, 23, 'Abhishek', 45, 56, 67, 78)

In [34]:
# Tuple packing
t1=12,23,34,45,56
a,b,c,d,e=t1 # unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
34
45
56

In [35]:
t2=(12) # we cannot create single value tuple like this
print(type(t2))

<class 'int'>

In [36]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [37]:
# adding one element in the tuple
t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls.append(98)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 77, 98)

In [38]:
# update an element in the tuple
t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls[2]="Hello"
t1=tuple(ls)
print(t1)

(1, 2, 'Hello', 4, 5, 6, 77)